.active {
  border-bottom: 2px solid #af6f3a;
}

.camelIcon {
	border-bottom: 2px solid #dba674;
	padding-bottom: 3px;
}

header {
	background: url(../images/header-camel.jpg) no-repeat;
	background-position: center;
}

header .window {
	color: #222;
	font-family: "Open Sans";
	font-size: 40px;
	font-weight: bold;
	/*line-height: 26px;*/
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.6);
	margin-top: 206px;
	margin-bottom: 214px;
}

header .window button {
	padding: 17px 27px;
	border: #9a5924;
	border-radius: 4px;
	background-color: #9a5924;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	/*line-height: 26px;*/
	text-transform: uppercase;
}

header .window button:hover,
.aboutUs button:hover {
	background: #613425;
}

.modalHeaderWindow {
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
	border: 1px solid #613425;
	border-radius: 25px;
	position: fixed;
	top: 50%;
	left: 50%;
	text-transform: uppercase;
	transform: translate(-50%, -50%);
	z-index: 777;
}

.modalProductsWindow {
	background-color: rgba(188, 19, 57, 0.8);
	color: #fff;
	display: none;
	border: 1px solid #613425;
	border-radius: 25px;
	font-size: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	text-transform: uppercase;
	transform: translate(-50%, -50%);
	z-index: 777;
}

.modalProductsWindow h2 {
	font-size: 20px;
}

.modalProductsWindow .btn {
	border: 1px solid #fff;
	color: #fff;
	text-transform: uppercase;
}

#navbar1,
#navbar1 a {
	text-align: center;
	background-color: #fff;
	color: #222;
  	font-family: "Open Sans - Semibold";
  	font-size: 13px;
  	font-weight: 400;
  	/*line-height: 26px;*/
  	text-transform: uppercase;
}

#navbar2,
#navbar2 a {
	text-align: center;
	background-color: #fff;
	color: #222;
  	font-family: "Open Sans - Semibold";
  	font-size: 13px;
  	font-weight: 400;
  	/*line-height: 26px;*/
  	text-transform: uppercase;
}

#navbar2 a:hover:not(.socialIcon) {
  	border-bottom: 2px solid #af6f3a;
}

#navbar1 .btn {
	border-radius: 4px;
	border: 1px solid #af6f3a;
	font-family: "Open Sans - Semibold";
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
}

#navbar1 .cart {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 1px solid #af6f3a;
	background-color: #fff;
}

#navbar1 .cart img {
	position: relative;
	left: -4px;
}

#navbar2:before{
    position:absolute;
    top:0;
    left:50%;
    width:160%;
    transform: translate(-50%, -50%);
    border-top: 1px solid rgba(219, 166, 116, 0.35);
    content:"";
}

.aboutUs span.title {
	color: #9a5924;
	font-family: "Open Sans - Extrabold";
	font-size: 30px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
}

.aboutUs span {
	color: #222222;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.aboutUs img {
	max-height: 431px;
}

.aboutUs button {
	border-radius: 4px;
	background-color: #9a5924;
	border: #9a5924;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
}

.aboutUs #ReadMore {
	display: block;
}

.aboutUs #noReadMore {
	display: none;
}

.content {
	background: #f3e6d5;
}

.content .carousel-item {
	position: relative;
	top: -40px;
	background: #fff;
	z-index: 123 !important;
}

.content .d-block {
	z-index: 123 !important;
}

.content .left .img {
	background: url(../images/img-1.jpg) no-repeat;
	background-size: cover;
	height: 320px;
	position: relative;
	z-index: 9;
}

.content img {
	text-align: center;
}

.content .title {
	color: #9a5924;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
}

.content span {
	text-align: left !important;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.slider {
	background: url(../images/mongolia-1.jpg) no-repeat;
	background-position: center;
	background-size: 100% 100%;
	color: #222;
}

.slider h5 {
	color: #9a5924;
	font-family: "Open Sans - Extrabold";
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.slider p {
	color: #222;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}

.manufacturing {
	background: #fff;
}

.manufacturing .camelIcon {
	text-align: center;
}

.manufacturing .title {
	color: #9a5924;
	font-family: "Open Sans - Extrabold";
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.products {
	background: #f3e6d5;
	text-align: center;
}

.products .title {
	color: #9a5924;
	font-family: "Open Sans - Extrabold";
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.products span {
	color: #222;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
}

.products .card {
	border-radius: 0;
}

.products img {
	outline: 1px solid rgba(243, 230, 213, 0.7);
    outline-offset: -15px;
}

.products .card .btn {
	background: rgba(243, 230, 213, 0.8);
	border: rgba(243, 230, 213, 0.8);
	border-radius: 0;
	color: #222;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 700;
	position: absolute;
	top: 23%;
	left: 9%;
	text-transform: uppercase;
}

.products .card .btn:hover {
	background: rgba(153, 112, 82, 0.8);
	border: rgba(243, 230, 213, 0.8);
	border-radius: 0;
	color: #222;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 700;
	position: absolute;
	top: 23%;
	left: 9%;
	text-transform: uppercase;
}

.products .btn {
	border-radius: 4px;
	background-color: #9a5924;
	border: #9a5924;
	color: #fff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.products .btn:hover {
	border-radius: 4px;
	background-color: #532805;
}

.slider2 {
	background: url(../images/mongolia-2.jpg) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.slider li:before:active {
	background-color: #9a5924;
}

.slider2 .carousel-item {
	max-height: 370px;
}

.slider2 .title {
	color: #9a5924;
	font-family: "Open Sans - Extrabold";
	font-size: 30px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
}

.slider2 .name {
	color: #222;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}

.slider2 .city {
	color: #9a5924;
	font-family: "Open Sans - Semibold";
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
}

.slider2 p {
	position: relative;
	color: #222;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	/*border-top: 1px solid #9a5924;*/
}

.slider2 p:before{
    position:absolute;
    top:0;
    left:50%;
    width:25%;
    transform: translate(-50%, -50%);
    border-top: 1px solid #9a5924;
    content:"";
}

footer,
footer #navbar1,
footer #navbar1 a {
	background: #532805;
	color: #fff;
	text-transform: uppercase;
	font-family: "Open Sans - Semibold";
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
}

footer #navbar2,
footer #navbar2 a {
	background: #532805;
	color: #fff;
	text-transform: uppercase;
	color: #fff;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
}

footer #navbar1 {
	border-bottom: 1px solid #dba674;
}

footer .btn {
	background: #fff;
	border-radius: 4px;
	color: #222;
	font-family: "Open Sans - Semibold";
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
}




@media only screen and (max-width: 1199px) {
	header .window {
	    font-size: 25px;
	}

  	#navbar2, #navbar2 a {
	    font-size: 10px;
	}

	#navbar1, #navbar1 a {
	    font-size: 9px;
	}
}

@media only screen and (max-width: 900px) {
	.modalHeaderWindow h2 {
	    font-size: 1rem;
	}
}

@media only screen and (max-width: 767px) {
	header .window {
	    font-size: 20px;
	}
}

@media only screen and (max-width: 470px) {
	header .window {
	    font-size: 17px;
	}
}

@media only screen and (max-width: 430px) {
	header .window {
	    font-size: 15px;
	}
}

@media only screen and (max-width: 421px) {
	.modalHeaderWindow h2 {
	    font-size: 13px;
	}
}

@media only screen and (max-width: 370px) {
	header .window {
	    font-size: 13px;
	}
}

@media only screen and (max-width: 343px) {
	.modalHeaderWindow h2 {
	    font-size: 10px;
	}
}